
#perfil_img{
    width: 120px;
}

.language{
        color: rgb(98, 98, 98);
}
/* .active{
    color: black;
} */

.border {
    border-left: 2px solid grey !important;
    padding-left: 24px;
    position: relative;
}

.border::before {
    content: "";
    position: absolute;
    top: -8px;
    /* Adjust this value to position the circle */
    left: -8px;
    /* Adjust this value to position the circle */
    width: 16px;
    /* Adjust this value to change the size of the circle */
    height: 16px;
    /* Adjust this value to change the size of the circle */
    background-color: grey;
    /* Change the color of the circle */
    border-radius: 50%;
    /* Shape the circle */
    
}
li{
    list-style-type: none;
}

.logo span{
    font-size: 2.5em;
    line-height: inherit;
}
.center_ul {
    text-align: center;
}

.border>p {
    margin: 0 0 0.5rem 0;
}