<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ languaje.title }}</title>
  <link rel="stylesheet" href="{{ css_bootstrap_url }}" />
</head>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
        <h2>Felipe M.</h2>
        <i>{{languaje.short_title | safe }}</i>
      </div>
      <div class="col-6">
        <h1>Resume</h1>
      </div>
    </div>
  </div>

  <script src="{{ js_bootstrap_url }}"></script>
</body>

</html>