<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ languaje.title }}</title>
  <link rel="stylesheet" href="{{ css_bootstrap_url }}" />
  <link rel="stylesheet" href="{{ style_url }}" />
</head>

<body>
  <div class="container mt-5">
    <div class="row d-flex align-items-center mb-5">
      <div class="col-6 d-flex justify-content-end">
        <img id="perfil_img" src="{{perfil_img}}" alt="perfil_img" class="img-thumbnail img-fluid rounded-circle">
      </div>
      <div class="col-6">
        <h2>Felipe M.</h2>
        <i>{{languaje.short_title | safe }}</i>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">{{languaje.about_me_title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center">{{languaje.about_me }}</>
      </div>
    </div>
  </div>

  <script src="{{ js_bootstrap_url }}"></script>
</body>

</html>