<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{ icon }}" />
    <title>Felipe M.</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/modo-obscuro.css') }}"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container">
        <nav>
          <div class="logo">Felipe<span> M.</span></div>
          <div class="nav-links">
            <a href="#home">Inicio</a>
            <a href="#about">Sobre Mí</a>
            <a href="#projects">Proyectos</a>
            <a href="#experience">Experiencia</a>
            <a href="#certificates">Certificados</a>
            <a href="#contact">Contacto</a>
          </div>
          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </div>
    </header>

    <!-- Hero Section -->
    <section class="hero" id="home">
      <div class="container">
        <div class="hero-content">
          <div class="hero-text">
            <h1>
              Ingeniero informático <br />
              <span>Desarrollador Full Stack</span>
            </h1>

            <p>
              Apasionado por la tecnología y la inteligencia artificial, con
              experiencia en desarrollo full stack, automatización con LLMs y
              más de 15 años en el área TI.
            </p>

            <div class="hero-buttons">
              <a href="#projects" class="btn"
                >Soluciones que marcaron la diferencia</a
              >
              <a href="#contact" class="btn btn-outline">Contactar</a>
            </div>
          </div>
          <div class="hero-image">
            <div class="profile-img">
              <img src="{{ foto }}" alt="Tu Nombre" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about">
      <div class="container">
        <div class="section-title">
          <h2>Sobre Mí</h2>
        </div>
        <div class="about-content">
          <div class="about-text">
            <h3>Desarrollador Full Stack con 15+ años de experiencia en TI</h3>

            <p>
              Soy un profesional comprometido con más de 15 años de experiencia
              en el área de tecnología, con una sólida trayectoria en soporte de
              software y hardware, así como en redes y telecomunicaciones. En
              los últimos años, he enfocado mi carrera hacia el desarrollo de
              software web full stack, un camino que he recorrido de forma
              autodidacta, complementado con mi formación como Ingeniero en
              Informática.
            </p>
            <p>
              Trabajo con metodologías ágiles como KANBAN para optimizar la
              productividad y garantizar entregas eficientes. Paralelamente, he
              profundizado en el campo de la inteligencia artificial, con
              énfasis en el uso de Modelos de Lenguaje Extensos (LLMs),
              procesamiento de lenguaje natural (NLP), y técnicas como la
              Generación Aumentada por Recuperación (RAG).
            </p>
            <p>
              Mi enfoque actual incluye el desarrollo de soluciones basadas en
              aprendizaje supervisado y no supervisado, el diseño de redes
              neuronales aplicadas a problemas reales, y la integración de LLMs
              en flujos de trabajo automatizados utilizando herramientas como
              n8n. Me mantengo al día con los avances en IA y busco
              constantemente nuevas formas de aplicar estas tecnologías de forma
              práctica y eficiente. Apasionado por el aprendizaje continuo,
              disfruto compartir conocimientos con colegas y contribuir
              activamente al desarrollo de equipos y comunidades técnicas.
            </p>
          </div>
          <div class="about-skills">
            <h3>Mis Habilidades</h3>
            <div class="skills-grid">
              <div class="skill-card">
                <i class="fas fa-server"></i>
                <h4>Backend</h4>
                <p>
                  Desarrollo de APIs y servicios robustos con Python (Flask,
                  FastAPI, Django), Node.js, .NET y PHP.
                </p>
                <p>
                  Manejo de lógica de negocio, seguridad, autenticación,
                  Procedimientos al almacenados, vistas, funciones y
                  procesamiento de datos con Pandas, NumPy, TensorFlow, y
                  Scikit-learn.
                </p>
                <p>
                  Integración con CRMs, sistemas ERP como Odoo, y dashboards
                  como Apache Superset.
                </p>
              </div>

              <div class="skill-card">
                <i class="fas fa-desktop"></i>
                <h4>Frontend</h4>
                <p>
                  Desarrollo de interfaces modernas y responsivas con Vue.js y
                  Angular, aplicando principios de diseño UI/UX y manejo
                  avanzado de estados con RxJS.
                </p>
                <p>
                  Consumo eficiente de APIs REST, implementación de componentes
                  reutilizables y adaptabilidad a distintos dispositivos.
                </p>
                <p>Experiencia en prototipado y diseño visual con Figma.</p>
              </div>

              <div class="skill-card">
                <i class="fas fa-project-diagram"></i>
                <h4>Automatización e IA</h4>
                <p>
                  Creación de flujos inteligentes con n8n y Flowise, integrando
                  APIs, CRMs y bases de datos.
                </p>
                <p>
                  Experiencia en uso de LLMs (GPT, Mistral, Ollama) para
                  generación de contenido, análisis de texto y agentes
                  autónomos.
                </p>
              </div>

              <div class="skill-card">
                <i class="fas fa-tasks"></i>
                <!-- Ícono para gestión y organización -->
                <h4>Gestión de Proyectos</h4>
                <p>
                  Organización, planificación y seguimiento de proyectos
                  informáticos utilizando metodologías ágiles.
                </p>
                <p>
                  Gestión de documentación técnica, coordinación de equipos y
                  aseguramiento de la calidad.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects">
      <div class="container">
        <div class="section-title">
          <h2>Soluciones que marcaron la diferencia</h2>
        </div>
        <div class="projects-grid">
          <div class="project-card">
            <div
              class="project-img"
              style="background: linear-gradient(135deg, #2563eb, #1e40af)"
            >
              <i class="fas fa-tractor"></i>
            </div>
            <div class="project-content">
              <h3>Salvoconductos para Agricultores</h3>
              <p>
                Durante la pandemia, desarrollé para INDAP (Ministerio de
                Agricultura de Chile) un sistema que permitió a los agricultores
                obtener permisos de circulación de 90 días con pocos datos,
                facilitando su movilidad. Además, el sistema permitía a las
                Fuerzas Armadas verificar fácilmente la validez de estos
                permisos.
              </p>
              <div class="project-tags">
                <span class="project-tag">PHP</span>
                <span class="project-tag">SQL Server</span>
                <span class="project-tag">JavaScript</span>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div
              class="project-img"
              style="background: linear-gradient(135deg, #0ea5e9, #0284c7)"
            >
              <i class="fas fa-chart-line"></i>
            </div>
            <div class="project-content">
              <h3>Analytics Dashboard, Automatización de procesos</h3>
              <p>
                Líder de desarrollo en ACCHI/MACC (Automóvil Club de Chile)
                Diseñé e implementé soluciones de automatización utilizando
                herramientas Low Code y Full Code, enfocadas en:
              </p>
              <ul>
                <li>
                  Mantenimiento de la plataforma web y venta de cursos en linea
                  y aprendizaje online
                </li>
                <li>
                  Envío automático de correos para generación de leads y
                  encuestas.
                </li>
                <li>Procesos ETL entre CRM y bases de datos internas.</li>
                <li>
                  Automatizaciones que optimizaron la operación y mejoraron la
                  experiencia de múltiples áreas. Además, gestioné proyectos con
                  proveedores externos para el sistema académico del holding.
                </li>
              </ul>
              <div class="project-tags">
                <span class="project-tag">Python</span>
                <span class="project-tag">JavaScript</span>
                <span class="project-tag">PHP</span>
                <span class="project-tag">PostgreSQL</span>
                <span class="project-tag">SQL Server</span>
                <span class="project-tag">MySQL</span>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div
              class="project-img"
              style="background: linear-gradient(135deg, #8b5cf6, #7c3aed)"
            >
              <i class="fas fa-folder-open"></i>
            </div>
            <div class="project-content">
              <h3>Sistema de gestión interna y trazabilidad</h3>
              <p>
                Sistema de gestión para ProChile y Direcon Diseñé y desarrollé
                una plataforma para la trazabilidad completa de equipos en
                oficinas nacionales e internacionales. El sistema incluía
                monitoreo de impresoras y gestión documental, logrando reducir
                procesos que antes tomaban días a solo segundos.
              </p>
              <div class="project-tags">
                <span class="project-tag">PHP</span>
                <span class="project-tag">JavaScript</span>
                <span class="project-tag">MariaDB</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Experience Section -->
    <section id="experience">
      <div class="container">
        <div class="section-title">
          <h2>Experiencia Laboral</h2>
        </div>
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2024 - Actual</div>
              <h3>Full Stack Developer</h3>
              <h4>ACL &gt; BCI Seguros</h4>
              <p>
                Desarrollo de soluciones empresariales combinando frontend
                moderno y backend robusto.<br />
                desaroolo de backend con C#/.NET, integrados con bases de datos
                SQL Server.<br />
                Construcción de interfaces web con Angular, siguiendo principios
                de diseño limpio.<br />
                Uso de LLMs e Inteligencia Artificial para generar POCs de
                chatbots, flujos automatizados y procesamiento de lenguaje
                natural con N8N y herramientas como Ollama.<br />
                Prototipado y diseño de interfaces en Figma.<br />
                Documentación de procesos mediante BPMN y trabajo en equipo bajo
                metodologías ágiles.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2022 - 2024</div>
              <h3>Ingeniero de Software</h3>
              <h4>Automóvil Club de Chile</h4>
              <p>
                Líder Técnico del equipo de desarrollo, Desarrollador Full
                Stack, Administrador de la capa de datos, Gestión de proyectos
                de software.<br />
                Uso de distintas metodologías y herramientas para gestión y
                control de proyectos.<br />
                Participación en todo el ciclo de vida de proyectos.<br />
                Uso de Git para versionamiento.<br />
                Administración de servidores On-premise y Cloud (AWS/AZURE).<br />
                Micro Servicios.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2020 - 2021, 2023 (Proyecto)</div>
              <h3>Desarrollador Full Stack</h3>
              <h4>INDAP (Ministerio de Agricultura)</h4>
              <p>
                Participación en todo el ciclo de vida de proyectos.<br />
                Uso de Git para control de versiones y Docker para
                despliegue.<br />
                Trabajo con framework institucional para creación y mejora de
                módulos.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2022 (Proyecto)</div>
              <h3>Desarrollador Frontend</h3>
              <h4>Genesys &gt; IBM &gt; Bank ITAU</h4>
              <p>
                Desarrollo con herramienta Modyo y MicroFrontend.<br />
                HTML5, CSS3, Bootstrap, JavaScript, Liquid, API REST.<br />
                GIT Flow, Windows.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2022 (Proyecto)</div>
              <h3>Desarrollador Web Full Stack</h3>
              <h4>HUAP - Hospital de Urgencia de Asistencia Pública</h4>
              <p>
                Apoyo en desarrollo de sistema interno InnHosp con LAMP
                Stack.<br />
                Extracción de datos de asistencias en equipos biométricos
                ZKTECO.<br />
                Uso de Git, FTP, Linux.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2021 (Proyecto)</div>
              <h3>Desarrollador Web Full Stack</h3>
              <h4>AltumLab</h4>
              <p>
                Desarrollo backend con Laravel (PHP) y frontend con VueJS.<br />
                Comunicación con API REST y GraphQL.<br />
                Gestión con Git.<br />
                Liderazgo de equipo.<br />
                Implementación de Scrumban e integración continua.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2019 - 2020</div>
              <h3>Full Stack Web Developer</h3>
              <h4>Axia LTDA.</h4>
              <p>
                Mantención de servidores Linux con servicios web, bases de datos
                y telefonía IP Asterisk.<br />
                Desarrollo de módulos y scripts en PHP para Astercall.<br />
                Extracción de datos MySQL (funciones y procedimientos
                almacenados).<br />
                Implementación de framework Bootstrap con plantilla AdminLTE.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2013, 2015 - 2019</div>
              <h3>Soporte Tecnológico y Desarrollador Web</h3>
              <h4>
                Dirección General de Promoción de Exportaciones (Ministerio de
                Relaciones Exteriores)
              </h4>
              <p>
                Soporte de software, hardware y red.<br />
                Gestión de videoconferencias internacionales.<br />
                Montaje de servidor Linux Web, MySQL y Samba.<br />
                Desarrollo sistema de registro de actividades e inventario con
                PHP/MySQL (CodeIgniter3).<br />
                Hardening de plataforma para seguridad.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2010 - 2011</div>
              <h3>Soporte Tecnológico y Desarrollador Web</h3>
              <h4>Ziron System</h4>
              <p>
                Soporte de software, hardware y red.<br />
                Implementación CMS Joomla para intranet cliente.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-content">
              <div class="timeline-date">2007 - 2010</div>
              <h3>Soporte Tecnológico</h3>
              <h4>Ciber Group Contact-Center</h4>
              <p>
                Soporte de software, hardware y red.<br />
                Mesa de ayuda Minsal y Terpel.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Certificates Section -->
    <section id="certificates">
      <div class="container">
        <div class="section-title">
          <h2>Certificados</h2>
        </div>

        <div class="certificates-container">
          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Todo PHP7 y MySQL, de básico a experto</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-92V9FR5U/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>VIM Profesional</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-8a43b696-4012-489c-8b03-52db1d524b57"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>PHP 7 y MYSQL: El Curso Completo, Práctico y Desde Cero !</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-VNLUFJD2/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Master en PHP, SQL, POO, MVC, Laravel, Symfony, WordPress +
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-75IHBCL8/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-POMG60SC/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-33f3e581-1998-41d1-b554-afbc34836555/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Introducción a Git y Github</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-JZJK9EL8/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Desarrollo de aplicaciones con CodeIgniter</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-L4FOHPDN/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Sistema Multiusuario con PHP y MySql</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-K1T42YSC/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>JavaScript: de cero hasta los detalles (ES5)</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-LMTJ3L9P/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Bootstrap 4: El Curso Completo, Práctico y Desde Cero</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-0WNWS4T7/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Aprende Programación en Java (de Básico a Avanzado)</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-85e85b54-4b6e-47ca-9b2c-851f6bf387a3/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Scrum: cómo cambiar de paradigma e implantarlo con éxito</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-MBVMDSYM/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso de VueJS 2 en Español - Crea webapps modernas</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-VES2BP5A/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso completo de Python 3. Aprende desde cero.</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-LDA55BGJ/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Creando Restful services PHP-MYSQL (Codeigniter 3).</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-QZ4FWFG3/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Dominando Laravel - De principiante a experto</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-491125a8-bb89-4860-9391-6ea08c31398f/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Inglés Básico 1 para Principiantes: Una sólida base, hablando.
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-3d005c84-7ce3-47e6-ae78-18540183f43e/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Inglés Básico 2 para Principiantes: Una sólida base, hablando.
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-473ef84a-a2c4-4c0e-976d-b25f2765d605/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Vue Native: Tu primer contacto creando aplicaciones nativas.
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-6eeba64e-9083-4384-ae56-362042c4dfbf/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <!-- Certificados Google Drive -->
          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Certificado Modyo: Gestión Básica de Contenidos</h3>
              <p>Google Drive</p>
              <a
                href="https://drive.google.com/open?id=1RJr5xV2ouzlfAIJQ--0gTJATWryk8O4t&usp=drive_fs"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Certificado Modyo: Desarrollo de Frontend Básico</h3>
              <p>Google Drive</p>
              <a
                href="https://drive.google.com/file/d/1FX_qtXsrMWPQyNnl20-esF5xV-kPYqGo/view?usp=sharing"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Certificado Modyo: Gestión avanzada de Contenidos</h3>
              <p>Google Drive</p>
              <a
                href="https://drive.google.com/file/d/1qN74l8uY0xbOI0IsrcdaPN3_Os4GtY-0/view?usp=sharing"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Introducción a Azure</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-3a0fb559-9bc9-4100-aa4b-dfa327d8c8d6/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Azure Devops de cero a experto</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-cc2ac902-d118-403c-84f4-e8565e5b4971/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Design Sprints: validar mi idea en 5 días</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-152e0fe4-f861-4798-b241-c61aca7448db/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Diseño UX: experiencia de usuario UX/UI + Figma 2023</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-e7529165-a1b5-4616-8368-3c77075fcba3/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Node: De cero a experto</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-8d66c6ab-bccb-4a25-a6d3-b747660dd1d6/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Ágil como un gato, ¡Gestión de proyectos sin aburrirte!</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-980777cf-4ceb-4fa1-83b6-2a36fdc64978/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso de Odoo 13 | 14 | 15 Técnico para Implementadores</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-cb50a43a-11db-400c-96e6-2b6992a7911d/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso de Odoo 13 | 14 | 15 Funcional para Implementadores</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-638851a8-8e82-49d5-bd6e-afbdd20345e3"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Ultimate Python: de cero a programador experto</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-18b7eca0-b4f6-4054-8d8c-5fcb45916996/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Máster en Seguridad Informática. Curso completo de Hacking.
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-1aa68e47-5908-4720-8224-6b6c2ee00b73"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Python Pandas Data Crash Course 2024 Learn by Doing.</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-d1c78c64-59a5-4a89-9d9e-954b5b9cf678"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Flask - Construye aplicaciones web profesionales con Python.
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-54759bcc-4a0e-4f35-a621-3663e6be3732/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <!-- Certificados Google Drive - Inglés -->

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>English B1 Certificate!</h3>
              <p>Google Drive</p>
              <a
                href="https://drive.google.com/file/d/1-TGjnK23w7NbCEn1R8KZfTi1WmHuE6b7/view?usp=sharing"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>English B2 Certificate!</h3>
              <p>Google Drive</p>
              <a
                href="https://drive.google.com/file/d/1FCetsnpLhySzPkGZUdFx0eJHfK8kcCrK/view?usp=sharing"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Hacking Ético con Kali Linux</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-1fc65c5c-55d7-4a78-8d0c-8e6fb5c0b382/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Como crear aplicaciones SPA: ANGULAR +.NET + SQL SERVER</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-f1592427-39f4-4218-b918-e7a7bf06702f/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Build an app with ASPNET Core and Angular from scratch</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-90686622-dd57-4007-a419-564288817f95/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Aprende Programación Backend en C# .NET</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-bc6b1ea9-f6f5-4ca0-966e-06b3b245114a/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso de C#</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-1dfe349d-b16f-49ea-bcb1-aacc9b59be7e/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Patrones de diseño en C# Aplicados en ASP .Net</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-11b93752-db43-4297-a682-b17a97e829d1/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Clean Architecture en C# .NET, un curso basado en conceptos
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-f9546088-6fe9-4c00-967d-230129196435/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Patrones de Diseño en JavaScript y TypeScript</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-6b9098ca-8de4-47ed-bba0-20f9c6ebc80a/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso de Programación en SQL</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-39e2575e-ba2d-47b7-8ae7-c47e8480284c/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Estructuras de Datos en JavaScript</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-85046e26-438b-4182-a2b3-f73c8ec79f85/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>English C1 Certificate!</h3>
              <p>Google Drive</p>
              <a
                href="https://drive.google.com/file/d/128YMvhJ0qFcZxuvQo3hQOqLH8I2qzM6g/view?usp=sharing"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>ReactiveX - RxJs: De cero hasta los detalles</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-ff66ad93-087e-4b65-bcde-09f3b70cdf79/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso de C# .NET AVANZADO</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-a841d679-3e3c-40c4-867d-dcf8f5cb793f/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Curso Completo de IA</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-1ae2d78f-a5c3-4494-8e34-0bf57fab0855/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Domina Python para la Inteligencia Artificial</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-a1f32da2-afe3-4482-8424-03278548956d/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>
                Ingeniería de LLM: Domina IA, Modelos de Lenguaje y Agentes
              </h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-c6f43e62-5fa1-435c-97b1-520d0712d1e8/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Introducción a la IA con Python</h3>
              <p>Domestika</p>
              <a
                href="https://www.domestika.org/es/certificates/733fddc995c956257941bbbc4d5ea8ac"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>Organización de agenda: gestiona tu tiempo y energía</h3>
              <p>Domestika</p>
              <a
                href="https://www.domestika.org/es/certificates/eff4c5f9728dfa449318e857ce085f4f"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>

          <div class="certificate-card">
            <div class="certificate-img">
              <i class="fas fa-certificate"></i>
            </div>
            <div class="certificate-content">
              <h3>AI Automation: Build LLM Apps & AI-Agents with n8n & APIs</h3>
              <p>Udemy</p>
              <a
                href="https://www.udemy.com/certificate/UC-2f5815d9-9c7b-498e-8b97-af0c9d5375f1"
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                >Ver Certificado</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact" id="contact">
      <div class="container">
        <div class="section-title">
          <h2>Contacto</h2>
        </div>
        <div class="contact-container">
          <div class="contact-info">
            <h3>¡Hablemos!</h3>
            <p>
              Estoy abierto a oportunidades de trabajo, colaboraciones o
              cualquier consulta. No dudes en contactarme.
            </p>
            <br />
            <div class="contact-details">
              <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <a
                  href="mailto:felipei.mancilla@gmail.com"
                  style="text-decoration: none; color: white"
                  target="_blank"
                  rel="noopener noreferrer"
                  >felipei.mancilla@gmail.com</a
                >
              </div>

              <div class="contact-item">
                <i class="fas fa-phone"></i>
                <a
                  href="https://wa.me/56949621499"
                  style="text-decoration: none; color: white"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <span>+56 9 4962 1499</span>
                </a>
              </div>

              <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <span>Santiago de Chile</span>
              </div>
            </div>

            <div class="social-links">
              <a
                href="https://github.com/shashinvision"
                target="_blank"
                class="social-link"
                ><i class="fab fa-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/shashinv/"
                target="_blank"
                class="social-link"
                ><i class="fab fa-linkedin-in"></i
              ></a>
              <a
                href="https://www.youtube.com/@FelipeMSV"
                target="_blank"
                class="social-link"
                ><i class="fab fa-youtube"></i
              ></a>
            </div>
          </div>

          <!-- <div class="contact-form"> -->
          <!--   <form> -->
          <!--     <div class="form-group"> -->
          <!--       <label for="name">Nombre</label> -->
          <!--       <input type="text" id="name" class="form-control" required /> -->
          <!--     </div> -->
          <!--     <div class="form-group"> -->
          <!--       <label for="email">Email</label> -->
          <!--       <input type="email" id="email" class="form-control" required /> -->
          <!--     </div> -->
          <!--     <div class="form-group"> -->
          <!--       <label for="subject">Asunto</label> -->
          <!--       <input type="text" id="subject" class="form-control" required /> -->
          <!--     </div> -->
          <!--     <div class="form-group"> -->
          <!--       <label for="message">Mensaje</label> -->
          <!--       <textarea id="message" class="form-control" required></textarea> -->
          <!--     </div> -->
          <!--     <button type="submit" class="btn btn-white"> -->
          <!--       Enviar Mensaje -->
          <!--     </button> -->
          <!--   </form> -->
          <!-- </div> -->
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <p>
          &copy; {{ current_year }} Felipe M. Todos los derechos reservados.
        </p>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
